body {
	text-align: center;
	background-color: rgba(224, 7, 0, 0.6);
}

img {
	width: 400px;
	height: 300px;
	margin: 20px;
}

.title {
	height: 5%;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	font-size: 1.5vw;
	display: inline;
}

.image1 {
	clear: left;
}

.image2 {
	clear: right;
}

.userChoice .heading {
	margin-left: 20px;
}

.computerChoice .heading {
	margin-right: 20px; 
}

.results .userChoice {
	float: left;
	border: 2px solid black;
	background-color: #d67575; 
	color: #3f48c6;
}

.results .computerChoice {
	float: right;
	border: 2px solid black;
	background-color: #d67575; 
	color: #3f48c6;
}

button.playGame {
	height: 97vh;
	width: 90vw;
	font-size: 12vw;
	font-weight: bold;
	text-align: center;
	position: relative;
	margin: auto;
 	color: rgb(62, 163, 73);
 	background-color: rgba(192, 198, 17, 0.75);
}

button.playGame:hover {
	color: rgba(192, 198, 17, 0.75);
	background-color: rgb(62, 163, 73);
}

.rock {
	float: left;
	margin: auto;
	position: relative;
	left: 200px;
}

.paper {
	position: relative;
	top: 310px;
	margin: 0 auto;
}

.scissors {
	float: right;
	margin: auto;
	position: relative;
	right: 200px;
}

.button {
	width: 23vw;
	height: 40vh;
	color: rgb(62, 163, 73);
	background-color: rgba(192, 198, 17, 0.75);
	font-size: 5vw;
	font-weight: bold;
	font-family: times, garmond, serif;
}

.button:hover {
	background-color: rgb(62, 163, 73);
	color: rgba(192, 198, 17, 0.75);
}

@media only screen and (max-width: 786px) {
	.title {
		font-size: 5vw;
	}

	.rock, .paper, .scissors {
		display: inline;
		position: relative;
		width: 90%;
		height: 200px;
		margin: 5vw;
		left: 0px;
		right: 0px;
		top: 0px;
	}
}

@media only screen and (max-width: 1200px) {
	.results .userChoice {
		float: none;
		overflow: auto;
		margin: 20px auto;
		border: none;
	}

	.results .computerChoice {
		float: none;
		overflow: auto;
		margin: 20px auto;
		border: none;
	}

	.results {
		border: 2px dotted black;
	}

	img.results {
		width: 80%;
	}

	.playAgain button {
		width: 70vw;
		height: 60vw;
		font-size: 10vw;
	}

	.playAgain h1 {
		font-size: 6vw;
	}
}


